<app-nav-bar></app-nav-bar>
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="{{img}}">
                                        </div>
                                    </div>
                                    <!--username-dt end-->
                                    <div class="user-specs">
                                        <h3>{{user.name}}</h3>
                                        <span>{{user.occupation}}</span>
                                    </div>
                                </div>
                                <!--user-profile end-->
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Tokens</h4>
                                        <span>{{user.hp}}</span>
                                    </li>
                                    <li>
                                        <h4>Score</h4>
                                        <span>{{user.score}}</span>
                                    </li>
                                </ul>
                            </div>
                            <!--user-data end-->
                            <div class="suggestions full-width">
                                <div class="sd-title">
                                    <h3>Suggestions</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <!--sd-title end-->
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="../../assets/images/resources/s1.png">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>

                                    <div class="view-more">
                                        <a>View More</a>
                                    </div>
                                </div>
                                <!--suggestions-list end-->
                            </div>
                            <!--suggestions end-->
                        </div>
                        <!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="posts-section">

                                <!--post-bar end-->
                                <div class="post-bar" *ngFor="let post of posts; let i = index">

                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="http://localhost:8000/api/profile{{post.maker_id}}/getavatar" style="height: 50px">
                                            <div class="usy-name">
                                                <h3> {{post.maker.name}}</h3>
                                                <span><img src="../../assets/images/clock.png" >{{post.created_at}}</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="../../assets/images/icon8.png"><span>{{post.maker.occupation}}</span></li>
                                            <li><img src="../../assets/images/icon9.png"><span>{{post.maker.institution}}</span></li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a><i class="la la-bookmark"></i></a></li>
                                            <li><a><i class="la la-envelope"></i></a></li>
                                            <li><a class="bid_now" (click)="createSession(post.id)">Help Now</a></li>
                                        </ul>
                                    </div>
                                    <div class="job_descp">
                                        <h3>{{post.title}}</h3>
                                        <ul class="job-dt">
                                            <li><a>{{post.status}}</a></li>
                                            <li><span>Cost : {{post.cost}}</span></li>
                                        </ul>
                                        <p> {{post.description}} </p>
                                        <ul class="skill-tags" style="display: inline">
                                            <li *ngFor="let skill of post.skills"><a>{{skill}}</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!--posty end-->
                                <div class="process-comm">
                                    <a><img src="../../assets/images/process-icon.png"></a>
                                </div>
                                <!--process-comm end-->
                            </div>
                            <!--posts-section end-->
                        </div>
                        <!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">
                            <div class="widget widget-about">
                                <img src="../../assets/images/helpmehelpyou-01.png" style="height : 300px">
                            </div>
                            <!--widget-about end-->
                            <div class="widget widget-jobs">
                                <div class="user-profile-ov " style="margin-bottom : 0px">
                                    <h3><a class="skills-open ">Skills</a> <a (click)="deleteSkill=true;"><i class="fa fa-minus-square"></i></a><a (click)="addSkill=true;"><i class="fa fa-plus-square "></i></a> </h3>
                                    <div *ngIf="!deleteSkill && !addSkill">
                                        <p *ngIf="skills">update your skills </p>
                                        <ul *ngIf="!skills">
                                            <li *ngFor="let skill of user.skills"><a>{{skill}}</a></li>
                                        </ul>
                                    </div>
                                    <div *ngIf="deleteSkill">
                                        <div> Deleting a Skill :</div>
                                        <br>
                                        <form (ngSubmit)="onDeleteSkill(f)" #f="ngForm" class="form-group ">
                                            <input id="skill" class="form-control input-group-xlg " type="text " ngModel name="skill">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-light mt-2" style="margin-left : 93px" (click)="deleteSkill=false">Skip</button>
                                                <button class="btn btn-primary mt-2 ml-2" type="submit " [disabled]="!f.valid ">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="addSkill">
                                        <div class="mb-3">Adding a Skill :</div>
                                        <form (ngSubmit)="onAddSkill(f)" #f="ngForm" class="form-group ">
                                            <input id="skill" class="form-control input-group-xlg " type="text " ngModel name="skill">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-light mt-2" style="margin-left : 113px" (click)="addSkill=false">Skip</button>
                                                <button class="btn btn-primary mt-2 ml-2" type="submit " [disabled]="!f.valid ">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--job-info end-->
                            </div>
                            <!--jobs-list end-->
                        </div>
                    </div>
                    <!--right-sidebar end-->
                </div>
            </div>
        </div>
        <!-- main-section-data end-->
    </div>
</main>